<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show</title>
</head>
<body>
    <h1>Submitted info:</h1>
    <h2>name:</h2> <p><%= name %></p>
    <h2>language:</h2> <p><%= language %></p>
    <h2>location:</h2> <p><%= location %></p>
    <h2>comments:</h2> <p><%= comments%> </p>
</body>
</html>