<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <h2>Ash</h2>
    <a href="/data1">
        <img src="images/cat1.jpg" alt="this is cat">
    </a>

    <h2>Spark</h2>
    <a href="/data2">
        <img src="images/cat2.jpg" alt="this is cat">
    </a>
</body>

</html>